---
import Layout from '../../layouts/Layout.astro';
import { AddToCartForm } from '../../components/AddToCartForm';
import {storeItems} from '../../storeStore';
import data from '../../items.json';

export const getStaticPaths = async () => {
	return data.items.map((item)  => ({params: {item: item.id}}))
}
const { item: itemId } = Astro.params;
const item = storeItems.get()[itemId];
---
<Layout title={item.name}>
	<main>
		<div class="product-layout">
			<img  src={item.imageSrc} alt={item.name} />
			<div>
				<h1><div class="text-gradient">{item.name}</div></h1>
				<p>
					Oh, nice choice!<br>If you have second thougts, you can <a href="/">Run back!</a>
				</p>

				<p class="instructions">
					{item.description}
				</p>

				<AddToCartForm item={item} client:visible>
					<button type="submit">Add to your nightmare</button>
				</AddToCartForm>


			</div>

		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 2rem;
		padding: 1em;
		max-width: var(--content-max-width);
	}

	.product-layout {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
	}

	.product-layout img {
		width: 100%;
		max-width: 26rem;
	}

	button[type='submit'] {
		margin-block-start: 1rem;
	}
</style>